<footer class="bg-light mt-3">
  <div class="p-3 bg-secondary text-light">
    <%= current_year %><br>
    <%= t('.create') %> <%=link_to '@grabergt', "https://github.com/GraberGT", class: 'text-white', target: '_blank' %><br>
    <%= link_to 'Test Guru', "https://github.com/GraberGT/Thinknetica_2/", class: 'text-white', target: '_blank' %><br>
    <%= t('.project_description') %><br>
    <%= link_to t('.online_school'), 'http://thinknetica.com/', class: 'text-white', target: '_blank' %>
  </div>
</footer>