<div>
  <p>
    <%= current_year %><br>
    <%= t('.create') %><%= link_to '@grabergt', "https://github.com/GraberGT", target: '_blank' %><br>
    <%= link_to 'Test Guru', "https://github.com/GraberGT/Thinknetica_2/", target: '_blank' %><br>
    <%= t('.project_description') %><br>
    <%= link_to t('.online_school'), 'http://thinknetica.com/', target: '_blank' %>
  </p>
</div>
